html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px; /*font size*/
    background-position: center; /* ocation of the image*/
  }

/*header and footer design */
header, footer {
    text-align: center;
    font-size: 25px;
    width: auto;
    background-color: bisque;
    border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
    border-left-color: black;
    
}


/*product names*/
h2 {
    color: thistle;
    font-size: 50px;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

/*size and color of home page*/
 img {
     /* image size */
    width: 500px;
    height: 250px; 
    /*image border stlye */
    border-style: solid;
    border-width: 4px;
    border-color:rgb(255, 241, 165);
}

main{  color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around
}
/*styling product image*/
img{ height:250; width:250px;}
html{background-color:bisque;}
/* styling the invoice table */
table {
    /*size and color of the invoice table*/
    background-color: beige;
    text-align: center;
    margin: auto;
    height: 600px;
    width: 1000px;
    /*space surrounding invoice table*/
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    /*borders*/
    border-top-style: outset;
	border-right-style: outset;
	border-bottom-style: outset;
	border-left-style: outset;
	border-top-color: black;
	border-right-color: black;
	border-bottom-color: black;
	border-left-color: black;
}
/*purchase button*/
input[type=submit] {
    width: 10em;  height: 3em;
    font-size: 20px;
    color: black;
    float: bottom;
  }